<!DOCTYPE html>
<html>
<head>
	<% include ./head %>
</head>
<body>
	<h1>
		Menagerie
	</h1>
	<h3>
		<% for(let i = 0; i < critters.length; i++){ %>
			<%= critters[i].name %> : <%= critters[i].animal %>
			<br>
			<form action="/pets/<%= i %>?_method=DELETE" method="POST>
				<button type="submit">Delete</button>
			</form>
		<% } %>
	</h3>

</body>
</html>