<!DOCTYPE html>
<html>
<head>
	<% include ./head %>
</head>
<body>
	<h1>
		My Animal
	</h1>
	<h3>
		My <%= critters.animal %>, <%= critters.name %> is <%= critters.age %> years old.
	</h3>

</body>
</html>